/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 9999;
  }
  
  .navbar.hidden {
    top: -50px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Nunito Sans';
    color:white; /* Set the default color */
    background-color: transparent; /* Set the initial background to transparent */
    transition: background-color 0.3s;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: gray;
    color: white;
  }
  .navbar a.active {
    background-color: black; /* Change to your desired active color */
    color: white;
  }
  
  
  /* Main content */
  .main {
    margin-top: 50px;
  }
  