/* parallax.css */

.parallax-section {
    height: 500px; /* Set the desired height for each section */
    display: flex;
    align-items: center;
}

.image-section,
.text-section {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-section {
    padding: 20px;
    background-color: #f9f9f9; /* Set a background color for the text side */
}

/* Additional styling for text elements as needed */
h2 {
    margin-bottom: 10px;
}
